{{#if errors}}
<div>
    <div class="errorContainer">
        {{#each errors}}
        <p>{{this}}</p>
        {{/each}}
    </div>
</div> 
{{/if}}
<main class="edit">
            <!-- Edit Page (Only for logged-in users) -->
            <section id="edit">
                <div class="form">
                    <h2>Edit item</h2>
                    <form class="edit-form" method="post">
                        <input type="text" name="name" id="name" placeholder="Name" value="{{name}}" />
                        <input type="text" name="category" id="category" placeholder="Category" value={{category}} />
                        <input type="text" name="color" id="color" placeholder="Color" value="{{color}}" />
                        <input type="text" name="image" id="stone-img" placeholder="Image" value="{{image}}" />
                        <input type="text" name="location" id="location" placeholder="Location" value="{{location}}" />
                        <input type="text" name="formula" id="formula" placeholder="Formula" value="{{formula}}" />
                        <textarea id="description" placeholder="Description..."
                            name="description">{{description}}</textarea>

                        <button type="submit">Edit</button>
                    </form>
                </div>
            </section>
        </main>